[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
doq = "*"
twine = "*"

[packages]
mysql-connector-python = "*"
clinlog = "*"

[requires]
python_version = "3"
